.categories-page .head {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
.categories-page .head .sectionTitle {
  margin-bottom: 0;
}
.categories-page .head a {
  width: fit-content;
  padding: 0 12px;
  transform: translateY(-5px);
}
.megaMenu {
  gap: 25px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(251px, 1fr));
  cursor: initial;
}
.megaMenu .category {
  background: var(--section-color);
  padding: 15px 29px 12px;
  border-radius: 10px;
}
.megaMenu .types {
  margin-top: 18px;
}
.megaMenu .title {
  position: relative;
  color: var(--main-color);
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.megaMenu .title .actions {
  display: flex;
  align-items: center;
  transform: translateX(10px);
}
.megaMenu .title .actions svg {
  color: var(--main-color);
  width: 30px;
  height: 30px;
  padding: 6px;
  cursor: pointer;
  border-radius: 50%;
}
.megaMenu .title .actions svg:first-child:hover {
  color: rgb(229, 229, 229);
  background: #3085d6;
}
.megaMenu .title .actions svg:last-child:hover {
  color: rgb(229, 229, 229);
  background: #ce3431;
}
.megaMenu .title::after {
  content: "";
  position: absolute;
  left: -8px;
  bottom: -10px;
  width: 108%;
  height: 2px;
  background: var(--main-color);
}
.megaMenu .types li {
  text-transform: capitalize;
  padding: 8px 0;
  transition: 0.3s;
  font-size: 16px;
}


